%rebase('base.tpl')
%import model

  <table>
      <tr>
        <td>
          {{igra.pravilni_del_gesla()}} <br />
          Nepravilne črke: {{igra.nepravilni_ugibi()}}
        </td>
      </tr>
      <tr>
        <td>
            <img src="../../img/{{igra.stevilo_napak()}}.jpg" alt="obesanje">
        </td>
      </tr>
  </table>

%if poskus == model.ZMAGA:
  <h1>Čestitke! Zmagal/ a si!</h1>
%elif poskus == model.PORAZ:
  <h2>Sožalje, več sreče prihodnjič!</h2>
  <span>Geslo je bilo <b>{{igra.geslo}}</b></span>
  <form action='/nova_igra/'method='post'><button type='submit'>Nova igra</button>
  
  </form>
%else:
  <form action="/igra/" method="post">
    Črke: <input type="text" name="crka", autofocus='true'>
    <button type="submit">Pošlji ugib </button>
  </form>
%end
